In [28]:
import os
import sys
import pandas as pd
from collections import Counter

In [11]:
def process_bar(num, total):
    rate = float(num)/total
    ratenum = int(100*rate)
    r = '\r[{}{}]{}%'.format('*'*ratenum,' '*(100-ratenum), ratenum)
    sys.stdout.write(r)
    sys.stdout.flush()

In [22]:
def get_n_gram(path):
    g = os.walk(path)
    year = []
    month = []
    page = []
    words = []
    x = 0
    for path, dir_list, file_list in g:
        n = len(file_list)
        for file_name in file_list:
            f = file_name.split('.')[0]
            ymp = f.split('-')
            if ymp[0] == '':
                continue
            year.append(int(ymp[0]))
            month.append(int(ymp[1]))
            page.append(int(ymp[2]))

            with open(os.path.join(path, file_name)) as f:
                text_fr = f.read()
            words.append(dict(Counter(text_fr.split())))

            x += 1
            process_bar(x+1, n)

    return words, year, month, page

In [30]:
def table4Ngram(words_freq, year, month, page):
    lenth_n_gram = len(words_freq)
    lst_n_gram = list()
    x = 0
    for i in range(lenth_n_gram):
        for k,v in words_freq[i].items():
            lst_n_gram.append([k,  # words
                               year[i],
                               month[i],
                               page[i],
                               v])  # frequency
        x += 1
        process_bar(x + 1, lenth_n_gram)

    df = pd.DataFrame(lst_n_gram)
    df.columns = ['word', 'year', 'month', 'page', 'frequency']

    return df

In [24]:
words, year, month, page = get_n_gram('/Users/DXY/Documents/Project/modified_text')

[****************************************************************************************************]100%

In [31]:
df = table4Ngram(words, year, month, page)

[****************************************************************************************************]100%

In [32]:
df

                word  year  month  page  frequency
0         PRIVILÉGIÉ  1717      8    74          1
1        Sera-Cœnure  1717      8    74          1
2                A-b  1717      8    74          1
3                 J,  1717      8    74          1
4                  I  1717      8    74          1
...              ...   ...    ...   ...        ...
1468860       partir  1748      2    75          1
1468861      système  1748      2    75          1
1468862      s'était  1748      2    75          1
1468863     proposés  1748      2    75          1
1468864       suivre  1748      2    75          1

[1468865 rows x 5 columns]